$navbar-default-bg: #f48c42;

@import "bootstrap-sprockets";
@import "bootstrap";


#logo {
	float: left;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
	margin-left:0px;
}

#logo:hover{
	color: #fff;
	text-decoration: none;
	padding:0;
	margin:0;
}

#topRow{
	margin-top:100px;
	text-align:center;
}

#topContainer{
	background-image: image-url("book-wall.jpg");
	height:600px;
    width:100%;
    background-size:100%;
    margin-left:0;
}

body,html{
	width:100%;
	height:100%;
	padding:0px;
	margin:0px;
	
}

.row{
	width:100%;
	margin-left:-15px;
	margin-right:-15px;
}


