$navbar-default-bg: #f48c42;

@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
	margin:0;
	border:0;
}

.center{
	text-align: center;
}

#logo {
	float: left;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

#logo:hover{
	color: #fff;
	text-decoration: none;
	
}

#topRow{
	margin-top:100px;
	text-align:center;
}

#pageRow{
	margin-top:20px;
	text-align:left;
}

.jumbotron{
	background-image: asset-url('book-wall.jpg');
	height:600px;
    width:100%;
    background-size:cover;
}

.jumbotron h1{
	color: #fff;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: -1px;
	font-weight: bold;
}
.tableStyle{
	width:100%;
	border:1px solid black; border-collapse:collapse;

}
table tr, table th{
	border: 1px solid black;
}
tbody tr, tbody td{
	border: 1px solid black;
}

.btn-xlarge{
	font-size: 1.7em;
	background-color: black;
}

.article-actions{
	border-top: 1px solid #eaeaea;
	padding-top: 5px;
}

.description{
	margin-top: 0;
}

.book-title{
	font-weight:bold;
	font-size:1.5em;

}

.book-body{
	border-top: 1px solid #eaeaea;
	padding-top: 15px;
	padding-bottom: 15px;
}

footer{
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
	
}